h1 {
  font-size: xx-large;
  margin-left: 10px;
}

#filtered-users {
  display: flex;
  align-items: center;
}

#filtered-users img {
  border-radius: 50%;
  margin-right: 5px;
}

.result-stat {
  border-left: 1px solid #D3D3D3;
}

.developed-by {
  margin: 20px 0 0 10px;
  font-size: medium;
  font-weight: 300;
  color: #D3D3D3;
}